 #contenedor{
  align-items: stretch;
  width: 90%;
  height: 100%;
  background: whitesmoke;
  border: 1px solid  black;
  display:grid;
  grid-template-columns: repeat(16, 1fr) ;
  grid-template-rows: repeat(16, 1fr); 
  
} 
#cajita{
  background-color: darkblue;
  color: white;
}

