 #contenedor{
  width: 100%;
  height: 100%;
  background: whitesmoke;
  border: 1px solid  black;
  display:grid;
  grid-template-columns: repeat(16, 90) ;
  grid-template-rows: repeat(16,1fr );
  grid-gap: 10px;
  justify-content: stretch;
  align-content: stretch;
  margin: 0px 5% 0px 5%;
  
} 
div{  
  width: 100%;
  height: 100%;
}
#cajita{
  display:solid;
  width: 1fr;
  height: 1fr;
}

#cajita:hover{
  background-color: rgba(142, 142, 212, 0.596);
  color: white;
} 
.pie{
 
  grid-column: 1 / span 16;
  grid-row:17/18;
  background-color: pink ;
  list-style-type: none;
  margin: 0;
  padding: 0;

}

ul{
 
  bottom: 0;
  width: 50%;
}

li {
  float: left;
}

a {
  display: block;
  padding: 8px;

} 

img{
  grid-column: 6 / span 4;
  grid-row: 5 / span 3;
  justify-self  : center;
  align-self: center;
  background-color: aqua;
}
#barra{
  grid-column: 4/ span 7;
  grid-row:7/ span 1;
  justify-self  : stretch;
  align-self: start;

}
  
#boton1{
  grid-column: 6/ span 1;
  grid-row:8/ span 1;
  justify-self  : stretch;
  align-self: start;

}

#boton2{
  grid-column: 8/ span 1;
  grid-row:8/ span 1;
  justify-self  : stretch;
  align-self: start;

}